.container {
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}

.tvBox {
  background-image: url('./images/tv.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 90%;
  margin: 0 auto;
}



article {
  width: 100px;
  margin-top: 110px;
  margin-left: 300px;
}


button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: black;
  color: white;
}

img {
  height: 500px;
}
.remote {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h1 {
  font-size: 200%;
  text-align: right;
}

h3 {
  text-align: right;
}
